body {background-color: "FFFFFF";}

@media only screen and (min-width: 601px ){
header { display: grid;
         height: 80px;
         
        grid-template-columns:  15vw 80vw;
         column-gap: auto;
        justify-items: center;
        margin:15px;}
}
header nav {
        position: relative;
        top:20%;}        

header img {align-self: center; 
           position: relative;
            
           left: 20px;
            height:auto;
           width:auto}

header  ul, ul li , ul li a{
     display:grid;
     grid-auto-flow: column;
     
     grid-gap: 25px;
     
     list-style-type: none ;
     color: #495e57;
  text-transform: uppercase;
  text-decoration: none; 
     
     
}
header ul li {
      justify-content: stretch;
}

header a {text-decoration: none;
          color: #495e57;}
header a:hover {color:#ee9972;}


@media only screen and (max-width: 600px ){
  
  header ul, ul li, ul li a { display: flex;
           flex-direction: column;}

  
}