body {background-color: "FFFFFF";
      
      max-width: 1400px;
       margin:auto;}

@media only screen and (min-width: 601px ){
header { display: grid;
         grid-auto-flow: column;
         gap:25px;
         height: 80px;
         width: auto;
         
         ;
      
        margin:15px;}
}
        

header img { 
            height:auto;
           width:auto}

header  ul, ul li , ul li .nav-item {
     display:grid;
     grid-auto-flow: column;
     
     grid-gap: 25px;
     
     list-style-type: none ;
     color: #495e57;
  text-transform: uppercase;
  text-decoration: none; 
     
     
}
header ul li {
      justify-content: stretch;
}

header .nav-item {text-decoration: none;
          color: #495e57;}
header .nav-item:hover {color:#ee9972;}


@media only screen and (max-width: 600px ){
  
  header ul, ul li, ul li .nav-item { display: flex;
           flex-direction: column;}

  
}