#hero_section {
    background-color: #495e57;
    padding-top: 60px;
    max-width: 1400px;
    margin: auto;
   
    
    display :grid;
    grid-template-columns:60vw 30vw ;
    
   
}
#hero_leftside{ display: flex;
    flex-direction: column;
    margin:4vw;}
#hero_rightside{
    
    height:120px;
    margin: 2vw;
}
#hero_rightside img{
    width:250px;
    height:auto;
    margin:80px 40px auto 40px ;
   border-radius: 16px;}

h1 {color:#f4ce14;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:10px;}
#Chicago {color:#FFFFFF;
          font-size:22px;
         padding-left:20px;
         padding-top: 15px;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        }
#description {color:#FFFFFF;
             font-size:16px;
            font-family:  Arial, Helvetica, sans-serif;;
            padding-left: 40px;
            padding-top: 10px;
}
#reserv_btn {background-color:#f4ce14;
                color:#333333;
                border-radius: 16px;
                border-style: none;;
                font-size: 22px;
                font-family: Geneva;
                height:50px;
                width: 200px;
                padding: auto;}

#reserv_btn:hover{
        color:#FFFFFF}