@media only screen and (min-width: 601px ){

    #about {background-color: #f4ce14;
       max-width: 1400px;
       max-height: auto;
       
       display:grid;
       grid-template-columns: 45vw 45vw;
       justify-content: center;
       
       margin:auto;
       
    }
    #about_leftside{ display: flex;
        flex-direction: column;
        margin:4vw;}
    #about_rightside{
        display: block;
        margin: 4vw;
     }
     #img1{
        position: relative;
        top:100px;
        left:0px;
        width:250px;
        height:auto;
        margin:auto;
     
        border-radius: 16px;}
     #img2{
         position: relative;
         top:20px;
         left:140px;
         width:250px;
         height:auto;
         margin:auto;
         border-radius: 16px;}
 
     
     
    

}
@media only screen and (max-width: 600px ){
    #about{ background-color: #f4ce14;
            display: grid;
            grid-auto-flow: row;
            gap:10px;
            align-items: center;
            margin: auto ;
            padding-left: 25px;}

    #about_leftside{ 
            display: flex;
            flex-direction: column;
            margin:4vw;}
    #about_rightside{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 20px;
             }

    #img1, #img2{
       width:200px;
       height:auto;
       margin:20px;        
       border-radius: 16px;}
    }
       
#title {color:#333333;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        margin-top:10px;}
   
#Chicago2 {color:#333333;
          font-size:22px;
          text-align: left;
          padding-left:20px;
          padding-top: 15px;
        font-family:'Times New Roman', Times, serif;
        }
#description2 {color:#333333;
            text-align: left;
            font-size:16px;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 40px;
            padding-top: 10px;
}


